<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livraria Online</title>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
</head>
<body>
    <div class="container">
        <div class="header">
            <div style="display: block;">
                <form action="/orders" method="get" style="margin: 10px 0px;">
                    <button type="submit">Pedidos</button>
                </form>
                <form action="/search" method="get">
                    <button type="submit">Busca</button>
                </form>
            </div>
            <h1>Pedidos</h1>
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>
        <div class="orders-container">
            {% for pedido in pedidos %}
                <div  class="order-container"> 
                    <p class="book-detail"> {{ pedido.order_id }} - {{ pedido.hour }} </p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>